<td class="footer">
  <table class="rbcc footer__main">

    <tr class='top-logo'>
      <td align="left">
        <table>
          <td>
            <img class='top-logo-desktop' src="http://i64.tinypic.com/1tt2tt.png" alt="Logo">
            <img class='top-logo-mobile' src="http://i64.tinypic.com/24npier.png" alt="Logo">
          </td>
          <td class="footer__main__signature">
            <span class='footer__main__signature__name'>Arnold Ma</span><br />
            <span class='footer__main__signature__title'>CEO</span><br />
          </td>
        </table>
      </td>
    </tr>

    <!-- upper divider -->
    <tr class="gray-hr">
      <td><hr class="gray-hr"/></td>
    </tr>

    <!-- contact info -->
    <tr>
      <td>
        <div class="contact-info-desktop">
          +44 207 183 2596 | 10 Greenland Street, London NW1 0ND
        </div>
        <div class="contact-info-mobile">
          +44 207 183 2596<br />
          10 Greenland Street,<br />
          London NW1 0ND
        </div>
      </td>
    </tr>

    <tr class='social-icons'>
      <td>
        <a href="https://qumin.co.uk" target='_blank'><img src="http://i63.tinypic.com/10ddtoy.png" height='26' alt="Website" class="" />
        </a><!-- please do not remove
        --><a href="#"><img src="http://i68.tinypic.com/27x0xvm.png" height='26' alt="Twitter" class="" />
        </a><!-- please do not remove
        --><a href="#"><img src="http://i65.tinypic.com/29xu83p.png" height='26' alt="Linkedin" class="" />
        </a><!-- please do not remove
        --><a href="#"><img src="http://i68.tinypic.com/1rq140.png" height='26' alt="Instagram" class="" />
        </a><!-- please do not remove
        --><a href="#"><img class='social-icons__subscribe' src="http://i63.tinypic.com/2zqc421.png" height='26' alt="Newsletters" class="" />
        </a>
      </td>
    </tr>

    <!-- bottom divider -->
    <tr class="gray-hr">
      <td><hr class="gray-hr"/></td>
    </tr>

    <tr>

      <tr class='drum-img'>
        <td>
          <a href="#">
            <img src="http://i67.tinypic.com/mkus5y.png" height='38' alt="Drum Winner">
          </a>
        </td>
      </tr>

      <td class="legal-disclaimer" align="left">

        <strong><span class='legal-disclaimer__title'>Legal disclaimer:</span></strong>
        <br />
        <span class='legal-disclaimer__description'>
          Qumin Limited. Registered Number 0803281. Registered in England and Wales at 10 Greenland Street, London NW1 0ND. The information contained in this electronic correspondence and any files transmitted with it are intended for the addressee only and may contain confidential and/or privileged information. The disclosure, copying, distribution or use of the e-mail or any attachment is prohibited. If you are not the addressee please delete this message and notify the sender; you should not copy or distribute this message or disclose its contents to anyone.
        </span>



      </td>

    </tr>


  </table>
</td>
